# Final packages
RPMS/*

# Binaries are created in the project folder (Sailfish SDK doesn't support shadow building yet)
harbour-helloworld-pro-sailfish
src/harbour-helloworld-pro-sailfish
tests/tst-harbour-helloworld-pro-sailfish

# Something Qt Creator generates
debugsources.list
documentation.list
debugfiles.list
debuglinks.list

# object files, makefiles, environment-specific Creator settings
*.o
Makefile
*.pro.user