[Desktop Entry]
Type=Application
Name=sailfish-app-with-qml-test
Icon=icon-launcher-gallery
Exec=invoker --type=silica-qt5 -s /usr/bin/sailfish-app-with-qml-test
Comment=Sailfish UI application


